<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--  ======  dates  ========-->
<!--  格式化时间  -->
<p th:text="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}">zero</p>
<!-- 创建当前时间 精确到天  -->
<p th:text="${#dates.createToday()}">Zero</p>
<!--  创建当前时间 精确到秒  -->
<p th:text="${#dates.createNow()}">Zero</p>
<!--  =====  strings =========-->
<!--  判断是否为空  -->
<p th:text="${#strings.isEmpty(userName)}">userName</p>
<!--  判断 list 是否为空 -->
<p th:text="${#strings.listIsEmpty(users)}">username</p>
<!--  输出字符串长度 -->
<p th:text="${#strings.length(userName)}">userName</p>
<!--  拼接字符串  -->
<p th:text="${#strings.concat(userName,userName,userName)}"></p>
<!--  创建自定义长度的字符串  -->
<p th:text="${#strings.randomAlphanumeric(count)}">userName</p>
</body>
</html>