<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-mybatis-annotation:war">
    <output-path>$PROJECT_DIR$/spring-boot-mybatis-annotation/target</output-path>
    <root id="archive" name="spring-boot-mybatis-annotation-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-mybatis-annotation:war exploded" />
    </root>
  </artifact>
</component>